body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    color: #eee;
    background-color: #343A3E;
    border: 1px solid #343A3E;
}

.row {
    display: flex;
    width: 100%;
}

.justify-center {
    justify-content: center;
}